@{
    ViewBag.Title = "Task Organiser";
}

@section scripts{
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/vue.js"></script>
}

<div id="main-content" class="row">
    <table style="width: 100%">
        <tr>
            <th v-once>{{ nameColumn }}</th>
            <th v-once>{{ descColumn }}</th>
            <th v-once>{{ doneColumn }}</th>
            <th></th>
        </tr>

        <tr v-for="(item, key) in tasks" class="alert" v-bind:class="{'alert-danger': item.Checked, 'alert-warning': !item.Checked}" style="padding: 50px;">
            <td>{{ item.Name }}</td>
            <td>{{ item.Description }}</td>
            <td><input type="checkbox" name="taskcomplete" v-model="item.Checked"></td>
            <td><div class="btn btn-danger pull-right" v-on:click="removeItem(key)">X</div></td>
        </tr>
        <tr>
            <td><input id="name" placeholder="Insert task name..." v-model="currentName"/></td>
            <td><input id="desc" placeholder="Insert task description..." v-model="currentDesc"/></td>
            <td></td>
            <td><div class="btn btn-success pull-right" v-on:click="addItem">Add Row</div></td>
        </tr>
    </table>
</div>
